*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 46, 104);
    /* display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px; */
}


.input_box
{
    background:#fff;
    width:90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;

}
.input_box input{
    
height:40px;
width: 500px;
padding: 10px 0;
outline: 0;
font-size: 24px;
color: #555;

}
.input_box img{
    width:30px;
    cursor: pointer;
    height: 40px;
}
/* .input_box{
    width:50%;
    background-color: aliceblue;
    max-width: 500px;
    padding:  10px;
   /* position: absolute; */
   /* display: flex;
   justify-content:center;
   align-items:end;
   margin: 300px auto;
   z-index: 10px;

} */ 

